{% extends "crm_admin/base.html" %}
{% load crispy_forms_tags %}
{% block title %}Ticket Details {{ ticket.ticket_id }}{% endblock %}

{% block content %}
    <div>
        <div class="card clearfix">
            <div class="card-header warm-flame-gradient clearfix">
                <div class="page_heading float-left">
                    <h3 class="white-text font-weight-bold m-2">Ticket Details : {{ ticket.ticket_id }}</h3>
                </div>
                <div class="float-right">
                    <a href="{{ ticket.get_admin_update_url }}"><button class="btn young-passion-gradient font-weight-bold text-white">Edit</button></a>
                </div>
            </div>
            <div class="card-body">
                <div class="detail_table">
                    <table class="table detail_table table-hover">
                        <thead class="bg-light">
                            <th colspan="4">Ticket Details</th>
                        </thead>
                        <tr>
                            <th>Ticket ID</th>
                            <td>{{ ticket.ticket_id }}</td>
                            <th>Status</th>
                            <td>{{ ticket.get_status_display }}</td>
                        </tr>
                        <tr>
                            <th>Sale</th>
                            <td colspan="3">
                                {{ ticket.sale.sale_id }}
                                <a href="{{ ticket.sale.get_admin_absolute_url }}"><i class="fa fa-eye"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <th>Created On</th>
                            <td>{{ ticket.created_on }}</td>
                            <th>Solved On</th>
                            <td>{{ ticket.solved_on|default:"-" }}</td>
                        </tr>
                        <tr>
                            <th>Comment</th>
                            <td colspan="3">{{ ticket.executive_description }}</td>
                        </tr>
                        <tr>
                            <th>Reply</th>
                            <td colspan="3">{{ ticket.description }}</td>
                        </tr>
                    </table>
                </div>

            </div>
        </div>

    </div>
{% endblock %}