{% extends "crm_admin/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}All Payouts{% endblock %}

{% block custom_links %}
    <link href="{% static "css/addons/datatables.min.css" %}" rel="stylesheet">
    <link href="{% static "css/addons/datatables-select.min.css" %}" rel="stylesheet">

    <style>
        .page-link{
            background-color: #ff867a!important;
            color: whitesmoke!important;
        }
    </style>

{% endblock %}

{% block content %}
    <div class="" style="margin: auto">
        <div class="card">
            <div class="card-header young-passion-gradient text-white font-weight-bold">
                <h3 class="font-weight-bold white-text mt-2"><i class="fa fa-dollar-sign"></i> All Payouts</h3>
            </div>
            <div class="card-body">

                <div class="payouts" id="payouts">
                    <table id="payouts_table" class="table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                      <thead>
                        <tr>
                          <th>Agent</th>
                          <th>Sale</th>
                          <th>Payout Type</th>
                          <th>Amount</th>
                          <th>Month</th>
                          <th>Status</th>
                          <th>Actions</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for sale in sales %}
                            {% if sale.first_payout %}
                                <tr>
                                    <td>{{ sale.agent.get_short_name }}</td>
                                    <td>
                                        <a href="{{ sale.get_absolute_url }}">{{ sale.sale_id }}</a>
                                    </td>
                                    <td>First Payout</td>
                                    <td>{{ sale.first_payout }}</td>
                                    <td>{{ sale.get_first_payout_month }}</td>
                                    <td>
                                        {% if sale.first_commission_paid %}Paid{% else %}Pending{% endif %}
                                    </td>
                                    <td>
                                        <i class="fa fa-eye"></i>
                                    </td>
                                </tr>
                            {% endif %}
                            {% if sale.last_payout %}
                                <tr>
                                    <td>Agent</td>
                                    <td>
                                        <a href="{{ sale.get_absolute_url }}">{{ sale.sale_id }}</a>
                                    </td>
                                    <td>Last Payout</td>
                                    <td>{{ sale.last_payout }}</td>
                                    <td>{{ sale.get_last_payout_month }}</td>
                                    <td>
                                        {% if sale.last_commission_paid %}Paid{% else %}Pending{% endif %}
                                    </td>
                                    <td>
                                        <i class="fa fa-eye"></i>
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                      </tbody>
                      <tfoot>
                        <tr>
                          <th>Agent</th>
                          <th>Sale</th>
                          <th>Payout Type</th>
                          <th class="payout-total">Amount</th>
                          <th>Month</th>
                          <th>Status</th>
                          <th>Actions</th>
                        </tr>
                      </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block custom_script %}
    <script type="text/javascript" src="{% static "js/addons/datatables.min.js" %}"></script>
    <script src="{% static "js/addons/datatables-select.min.js" %}" rel="stylesheet"></script>
        <script src="https://cdn.datatables.net/plug-ins/1.10.20/api/sum().js" rel="script"></script>

    <script>
 $(document).ready(function() {
            let datatable = $('#payouts_table').DataTable( {

                'pageLength': 25,
                "scrollY": 500,


                drawCallback: function () {
                    var api = this.api();

                    let foot = this.api().table().footer();

                    $(foot).children().children(".payout-total").text(
                      api.column(3, {search: "applied"}).data().sum() + " / " + api.column(3).data().sum()
                    );
                },

                initComplete: function () {
                    let i= 0;
                    this.api().columns().every( function () {
                        let allowed_indexes = [0, 2, 4, 5];
                        let column = this;
                        if (allowed_indexes.includes(i)){
                            var select = $('<select class="form-control"><option value="">All</option></select>')
                                .appendTo( $(column.footer()).empty() )
                                .on( 'change', function () {
                                    var val = $.fn.dataTable.util.escapeRegex(
                                        $(this).val()
                                    );
                                    column
                                        .search( val ? '^'+val+'$' : '', true, false )
                                        .draw();
                                } );
                            column.data().unique().sort().each( function ( d, j ) {
                                select.append( '<option value="'+d+'">'+d+'</option>' )
                            } );
                        }
                        i++;
                    } );
                },
            } );
        } );

    </script>
{% endblock %}