{% extends "portal/base.html" %}
{% load crispy_forms_tags %}

{% block title %}Login{% endblock %}

{% block custom_head %}
{% endblock %}

{% block content %}

    <br><br><br>
    <div class="col-lg-4" style="margin: 0 auto!important;">
        <div class="card">
            <div class="card-header warm-flame-gradient font-weight-bold text-white">
                <h4 class="m-auto font-weight-bold">Log in</h4>
            </div>
            <div class="card-body">
                <form method="post" class="text-center p-5" action="{% url "accounts:login" %}">
                    {% csrf_token %}

                    {% if form.non_field_errors %}
                        {% for error in form.non_field_errors %}
                            <span class="text-danger btn alert-danger">{{ error }}</span>
                        {% endfor %}
                    {% endif %}

                    <div class="form-group">
                        <input name="username" type="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="E-mail">
                        <p class="text-danger">{{ form.username.help_text }}</p>
                        {% if form.username.errors %}
                            {% for error in form.username.errors %}
                                <span class="alert alert-danger">{{ error }}</span>
                            {% endfor %}
                        {% endif %}

                    </div>

                    <div class="form-group">
                        <input name="password" type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Password">
                        <p class="text-danger">{{ form.password.help_text }}</p>
                        {% if form.password.errors %}
                            {% for error in form.password.errors %}
                                <span class="alert alert-danger">{{ error }}</span>
                            {% endfor %}
                        {% endif %}
                    </div>

                    <div class="d-flex justify-content-around">
                        <div>
                            <a href="" class="text-danger">Forgot password?</a>
                        </div>
                    </div>

                    <button class="btn young-passion-gradient font-weight-bold text-white btn-block my-4" type="submit">Sign in</button>

                   <p class="font-weight-bold text-black-50">Hero Leads</p>

                    <div class="card-content border-light border p-3">
                        <h6 class="text-black-50">Demo Login Credentials</h6>
                        <br>
                        <p class="text-black-50">Email : mike@gmail.com</p>
                        <p class="text-black-50">Pass  : asdf12!@</p>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
{% block custom_script %}
    <script>
        $("body").addClass("bg-info");
    </script>
{% endblock %}