{% load static %}
  <footer class="page-footer text-center font-small young-passion-gradient darken-2 mt-4 wow fadeIn amt-footer">

    <!--Call to action-->
    <div class="pt-4">
      <a class="btn btn-outline-white" href="#"
        role="button">Contact US
        <i class="fas fa-phone ml-2"></i>
      </a>
      <a class="btn btn-outline-white" href="#" role="button">Get Help

        <i class="fas fa- ml-2"></i>
      </a>
    </div>
    <!--/.Call to action-->

    <hr class="my-4">


    <!--Copyright-->
    <div class="footer-copyright py-3">
      © 2019 Copyright:
      <a href="https://mdbootstrap.com/education/bootstrap/" target="_blank">Hero Leads</a>
    </div>
    <!--/.Copyright-->

  </footer>
