{% extends "portal/base.html" %}
{% load crispy_forms_tags %}
{% block title %} Add Sale{% endblock %}

{% block content %}
    <br><br><br><br>
    <div class="col-lg-6" style="margin: auto">
        <div class="card clearfix">
            <div class="card-header warm-flame-gradient">
                <h3 class="white-text font-weight-bold m-auto">Create New Sale Record</h3>
            </div>
            <div class="card-body">
                <form method="post" action="{% url "sales:add" %}">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="btn young-passion-gradient font-weight-bold text-white float-right" type="submit">Create</button>
                </form>
            </div>
        </div>

    </div>
{% endblock %}