{% extends "portal/base.html" %}
{% load crispy_forms_tags %}
{% block title %}Sale Details {{ sale.sale_id }}{% endblock %}

{% block content %}
    <br><br><br><br>
    <div class="col-lg-6" style="margin: auto">
        <div class="card clearfix">
            <div class="card-header warm-flame-gradient clearfix">
                <div class="page_heading float-left">
                <h3 class="white-text font-weight-bold m-2">Sale Details : {{ sale.sale_id }}</h3>
                </div>
                <div class="create_sale_btn float-right">
                    <a href="{% url "sales:add" %}"><button class="btn young-passion-gradient font-weight-bold text-white m-0">Raise Ticket</button></a>
                </div>
            </div>
            <div class="card-body">
                <div class="detail_table">
                    <table class="table detail_table table-hover">
                        <thead class="bg-light">
                            <th colspan="4">Sale Details</th>
                        </thead>
                        <tr>
                            <th>Sale ID</th>
                            <td>{{ sale.sale_id }}</td>
                            <th>Status</th>
                            <td>{{ sale.get_status_display }}</td>
                        </tr>
                        <tr>
                            <th>Product</th>
                            <td>{{ sale.campaign_name }}</td>
                            <th>Sale Date</th>
                            <td>{{ sale.sale_date }}</td>
                        </tr>
                        <thead class="bg-light">
                            <th colspan="4">Sale Inputs</th>
                        </thead>
                        <tr>
                            <th>Contract Volume</th>
                            <td>{{ sale.contract_volume }}</td>
                            <th>Setup Fee</th>
                            <td>{{ sale.setup_fee }}</td>
                        </tr>
                        <tr>
                            <th>Monthly Budget</th>
                            <td>{{ sale.monthly_budget }}</td>
                            <th>Duration</th>
                            <td>{{ sale.duration }}</td>
                        </tr>
                        <tr>
                            <th>Management Fee</th>
                            <td>{{ sale.management_fee }}</td>
                            <th>Car Dealer Amount</th>
                            <td>{{ sale.car_dealer_amount }}</td>
                        </tr>
                        <tr>
                            <th>Payment Terms</th>
                            <td>{{ sale.payment_terms }}</td>
                            <th>Comment</th>
                            <td>{{ sale.agent_comment|default:"-" }}</td>
                        </tr>
                        <thead class="bg-light">
                            <th colspan="4">Finance Calculations</th>
                        </thead>
                        <tr>
                            <th>Car Dealer Bonus</th>
                            <td>{{ sale.car_dealer_bonus }}</td>
                            <th>Bonus Payout</th>
                            <td>{{ sale.bonus_payout }}</td>
                        </tr>
                        <tr>
                            <th>First Payout</th>
                            <td>{{ sale.first_payout }}</td>
                            <td>{{ sale.first_commission_pay_on }}</td>
                            <td>
                                <i class="fa {% if sale.first_commission_paid %}fa-check text-success{% else %}fa-times text-danger{% endif %}"></i>
                            </td>
                        </tr>
                        <tr>
                            <th>Last Payout</th>
                            <td>{{ sale.last_payout }}</td>
                            <td>{{ sale.last_commission_pay_on }}</td>
                            <td>
                                <i class="fa {% if sale.last_commission_paid %}fa-check text-success{% else %}fa-times text-danger{% endif %}"></i>
                            </td>
                        </tr>
                        <tr>
                            <th>Setup Fee Payout</th>
                            <td>{{ sale.bonus_payout }}</td>
                            <th>Total Payout</th>
                            <td>{{ sale.total_payout }}</td>
                        </tr>
                    </table>
                </div>

            </div>
        </div>

    </div>
{% endblock %}