{% extends "portal/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}My Sales{% endblock %}

{% block custom_links %}
    <link href="{% static "css/addons/datatables.min.css" %}" rel="stylesheet">
    <link href="{% static "css/addons/datatables-select.min.css" %}" rel="stylesheet">

    <style>
        .page-link{
            background-color: #ff867a!important;
            color: whitesmoke!important;
        }
    </style>

{% endblock %}

{% block content %}
    <br><br><br><br><br>
    <div class="col-lg-8" style="margin: auto;padding: 20px">
        <div class="card">
            <div class="card-header warm-flame-gradient clearfix">
                <div class="page_heading float-left">
                    <h3 class="font-weight-bold white-text mt-2">My Sales</h3>
                </div>
                <div class="create_sale_btn float-right">
                    <a href="{% url "sales:add" %}"><button class="btn young-passion-gradient text-white font-weight-bold m-0">Create Sale Record</button></a>
                </div>
            </div>
        <div class="card-body">
            <table id="dt-basic-checkbox" class="table table-striped table-bordered" cellspacing="0" width="100%">
          <thead>
            <tr>
              <th style="width: 50px"></th>
              <th class="th-sm">Sale ID</th>
              <th class="th-sm">Product</th>
              <th class="th-sm">Contract Volume</th>
              <th class="th-sm">First Payout</th>
              <th class="th-sm">Last Payout</th>
              <th class="th-sm">Total Commission</th>
              <th class="th-sm">Sale Date</th>
              <th class="th-sm">Status</th>
            </tr>
          </thead>
          <tbody>
            {% for sale in sales %}
                <tr>
                    <td></td>
                    <td><a href="{{ sale.get_absolute_url }}">{{ sale.sale_id }}</a></td>
                    <td>{{ sale.campaign_name }}</td>
                    <td>{{ sale.contract_volume }}</td>
                    <td>{{ sale.first_payout }}</td>
                    <td>{{ sale.last_payout }}</td>
                    <td>{{ sale.total_payout }}</td>
                    <td>{{ sale.sale_date }}</td>
                    <td>{{ sale.get_status_display }}</td>
                </tr>
            {% endfor %}
          </tbody>
        </table>
        </div>

        </div>
    </div>


{% endblock %}

{% block custom_script %}
    <script type="text/javascript" src="{% static "js/addons/datatables.min.js" %}"></script>
    <script src="{% static "js/addons/datatables-select.min.js" %}" rel="stylesheet"></script>
    <script>
        $('#dt-basic-checkbox').dataTable({

        columnDefs: [{
        orderable: false,
        className: 'select-checkbox',
        targets: 0
        }],
        select: {
        style: 'os',
        selector: 'td:first-child'
        }
        });
    </script>
{% endblock %}