{% extends "portal/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}My Sales{% endblock %}

{% block custom_links %}
    <link href="{% static "css/addons/datatables.min.css" %}" rel="stylesheet">
    <link href="{% static "css/addons/datatables-select.min.css" %}" rel="stylesheet">

    <style>
        .page-link{
            background-color: #ff867a!important;
            color: whitesmoke!important;
        }
    </style>

{% endblock %}

{% block content %}
    <div class="col-lg-11" style="margin: auto;padding: 20px">
        <div class="card">
            <div class="card-header warm-flame-gradient clearfix">
                <div class="page_heading float-left">
                    <h3 class="font-weight-bold white-text mt-2">My Sales</h3>
                </div>
                <div class="create_sale_btn float-right">
                    <a href="{% url "sales:add" %}"><button class="btn young-passion-gradient text-white font-weight-bold m-0">Create Sale Record</button></a>
                </div>
            </div>
        <div class="card-body">
            <div class="text-center">
{#                <div class="btn-group" role="group" aria-label="Basic example">#}
{#                  <button type="button" class="btn btn-primary" id="pending-sales-btn">Pending</button>#}
{#                  <button type="button" class="btn btn-light" id="approved-sales-btn">Approved</button>#}
{#                  <button type="button" class="btn btn-light" id="completed-sales-btn">Completed</button>#}
{#                </div>#}

                <div class="form-inline">
                    <label for="sales_filter_btn" class="float-left">Sales Status : </label>
                    <select id="sales_filter_btn" class="custom-select">
                      <option value="pending">Pending</option>
                      <option value="approved">Approved</option>
                      <option value="completed">Completed</option>
                    </select>
                </div>
                <hr>
            </div>

            <div class="pending_sales" id="pending_sales">
                <table id="pending_table" class="table table-striped table-bordered" cellspacing="0" width="100%">
                  <thead>
                    <tr>
                      <th style="width: 50px"></th>
                      <th>No.</th>
                      <th class="th-sm">Sale ID</th>
                      <th class="th-sm">Product</th>
                      <th class="th-sm">Contract Volume</th>
                      <th class="th-sm">First Payout</th>
                      <th class="th-sm">Last Payout</th>
                      <th class="th-sm">First Payout Month</th>
                      <th class="th-sm">Last Payout Month</th>
                      <th class="th-sm">Total Commission</th>
                      <th class="th-sm">Sale Date</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for sale in pending_sales %}
                        <tr class="sale">
                            <td></td>
                            <td>{{ forloop.counter }}</td>
                            <td><a href="{{ sale.get_absolute_url }}">{{ sale.sale_id }}</a></td>
                            <td>{{ sale.campaign_name }}</td>
                            <td>{{ sale.contract_volume }}</td>
                            <td>{{ sale.first_payout }}</td>
                            <td>{{ sale.last_payout }}</td>
                            <td class="fp-month">{{ sale.get_first_payout_month|default:"N/A" }}</td>
                            <td class="lp-month">{{ sale.get_last_payout_month|default:"N/A" }}</td>
                            <td>{{ sale.total_payout }}</td>
                            <td>{{ sale.sale_date }}</td>
                        </tr>
                    {% endfor %}
                  </tbody>
                  <tfoot>
                    <tr>
                        <td></td>
                        <td>{{ sales.count }}</td>
                        <td>Sales</td>
                        <td>Product Name</td>
                        <td>Contract Volume</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                  </tfoot>
                </table>
            </div >

            <div class="approved_sales" id="approved_sales">
                <table id="approved_table" class="table table-striped table-bordered" cellspacing="0" width="100%">
                  <thead>
                    <tr>
                      <th style="width: 50px"></th>
                      <th>No.</th>
                      <th class="th-sm">Sale ID</th>
                      <th class="th-sm">Product</th>
                      <th class="th-sm">Contract Volume</th>
                      <th class="th-sm">First Payout</th>
                      <th class="th-sm">Last Payout</th>
                      <th class="th-sm">First Payout Month</th>
                      <th class="th-sm">Last Payout Month</th>
                      <th class="th-sm">Total Commission</th>
                      <th class="th-sm">Sale Date</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for sale in approved_sales %}
                        <tr class="sale">
                            <td></td>
                            <td>{{ forloop.counter }}</td>
                            <td><a href="{{ sale.get_absolute_url }}">{{ sale.sale_id }}</a></td>
                            <td>{{ sale.campaign_name }}</td>
                            <td>{{ sale.contract_volume }}</td>
                            <td>{{ sale.first_payout }}</td>
                            <td>{{ sale.last_payout }}</td>
                            <td class="fp-month">{{ sale.get_first_payout_month|default:"N/A" }}</td>
                            <td class="lp-month">{{ sale.get_last_payout_month|default:"N/A" }}</td>
                            <td>{{ sale.total_payout }}</td>
                            <td>{{ sale.sale_date }}</td>
                        </tr>
                    {% endfor %}
                  </tbody>
                  <tfoot>
                    <tr>
                        <td></td>
                        <td>{{ sales.count }}</td>
                        <td>Sales</td>
                        <td>Product Name</td>
                        <td>Contract Volume</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                  </tfoot>
                </table>
            </div>

            <div class="completed_sales" id="completed_sales">
                <table id="completed_table" class="table table-striped table-bordered" cellspacing="0" width="100%">
                  <thead>
                    <tr>
                      <th style="width: 50px"></th>
                      <th>No.</th>
                      <th class="th-sm">Sale ID</th>
                      <th class="th-sm">Product</th>
                      <th class="th-sm">Contract Volume</th>
                      <th class="th-sm">First Payout</th>
                      <th class="th-sm">Last Payout</th>
                      <th class="th-sm">First Payout Month</th>
                      <th class="th-sm">Last Payout Month</th>
                      <th class="th-sm">Total Commission</th>
                      <th class="th-sm">Sale Date</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for sale in completed_sales %}
                        <tr class="sale">
                            <td></td>
                            <td>{{ forloop.counter }}</td>
                            <td><a href="{{ sale.get_absolute_url }}">{{ sale.sale_id }}</a></td>
                            <td>{{ sale.campaign_name }}</td>
                            <td>{{ sale.contract_volume }}</td>
                            <td>{{ sale.first_payout }}</td>
                            <td>{{ sale.last_payout }}</td>
                            <td class="fp-month">{{ sale.get_first_payout_month|default:"N/A" }}</td>
                            <td class="lp-month">{{ sale.get_last_payout_month|default:"N/A" }}</td>
                            <td>{{ sale.total_payout }}</td>
                            <td>{{ sale.sale_date }}</td>
                        </tr>
                    {% endfor %}
                  </tbody>
                  <tfoot>
                    <tr>
                        <td></td>
                        <td>{{ sales.count }}</td>
                        <td>Sales</td>
                        <td>Product Name</td>
                        <td>Contract Volume</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                  </tfoot>
                </table>
            </div>

        </div>


        </div>
    </div>


{% endblock %}

{% block custom_script %}
    <script type="text/javascript" src="{% static "js/addons/datatables.min.js" %}"></script>
    <script src="{% static "js/addons/datatables-select.min.js" %}" rel="stylesheet"></script>
    <script>

        $("#sales_filter_btn").on("change", function () {
           let value = $(this).val();
           if (value === "pending"){
               $("#pending_sales").show();
               $("#approved_sales").hide();
               $("#completed_sales").hide();
           }
           else if (value === "approved"){
               $("#approved_sales").show();
               $("#pending_sales").hide();
               $("#completed_sales").hide();
           }
           else if (value === "completed"){
               $("#completed_sales").show();
               $("#approved_sales").hide();
               $("#pending_sales").hide();

           }

        });

        $('#pending_table').dataTable({
            "pageLength": 2,
            "scrollY": "600px",
            "paging": false,
            columnDefs: [{
            orderable: true,
            className: 'select-checkbox',
            targets: 0
            }],
            select: {
            style: 'os',
            selector: 'td:first-child'
            }
        });
        $('#completed_table').dataTable({
            "pageLength": 2,
            "scrollY": "600px",
            "paging": false,
            columnDefs: [{
            orderable: true,
            className: 'select-checkbox',
            targets: 0
            }],
            select: {
            style: 'os',
            selector: 'td:first-child'
            }
        });
        $('#approved_table').dataTable({
            "pageLength": 2,
            "scrollY": "600px",
            "paging": false,
            columnDefs: [{
            orderable: true,
            className: 'select-checkbox',
            targets: 0
            }],
            select: {
            style: 'os',
            selector: 'td:first-child'
            }
        });

        $("#approved_sales").hide();
        $("#completed_sales").hide();

    </script>
{% endblock %}